# Created by https://www.toptal.com/developers/gitignore/api/react
# Edited by Anas Abu Farraj

# dependencies
node_modules
bower_components
/.pnp
.pnp.js


# locals
.idea
.vscode

# production
/build

# environment variables
.env
.env.development
.env.test
.env.production

.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

psd
thumb
sketch